@model MarkerFormModel;


<form id="form-marker-input">
    <input type="text" id="form-marker-input-id" maxlength="250" class="form-control" value="@Model.Marker.ID" hidden/>
    <div class="row padding-form">
        <div class="col-md-4">
            <label>Type Marker :</label>
        </div>
        <div class="col-md-8">
            <select name="form-marker-input-typemarker" id="form-marker-input-typemarker" style="width:100%;">
                @{
                    foreach (var item in @Model.Types)
                    {
                        <option value="@item.Value" data-image="@item.ImageUrl">
                            @item.Text
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row padding-form">
        <div class="col-md-4">
            <label>Name marker :</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="form-marker-input-name" maxlength="250" class="form-control" value="@Model.Marker.Name" />
        </div>
    </div>

    <div class="row padding-form">
        <div class="col-md-4">
            <label>Lat :</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="form-marker-input-lat" maxlength="50" class="form-control" value="@Model.Marker.Lat" readonly/>
        </div>
    </div>

    <div class="row padding-form">
        <div class="col-md-4">
            <label>Long :</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="form-marker-input-long" maxlength="50" class="form-control" value="@Model.Marker.Long" readonly />
        </div>
    </div>
    
</form>