@model PolylineFormModel;


<form id="form-polyline-input" name="form-polyline-input">
    <input type="text" id="form-polyline-input-id" maxlength="250" class="form-control" value="@Model.Polyline.ID" hidden />
    <div class="row padding-form">
        <div class="col-md-4">
            <label>Type polyline :</label>
        </div>
        <div class="col-md-8">
            <select name="form-polyline-input-type" id="form-polyline-input-type" style="width:100%;">
                @{
                    foreach (var item in @Model.Types)
                    {
                        if (item.Value == Model.Polyline.TypeID)
                        {
                            <option value="@item.Value" data-image="@item.ImageUrl" selected>
                                @item.Text
                            </option>
                        }
                        else
                        {
                            <option value="@item.Value" data-image="@item.ImageUrl">
                                @item.Text
                            </option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="row padding-form">
        <div class="col-md-4">
            <label>Name Polyline :</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="form-polyline-input-name" name="form-polyline-input-name" maxlength="250" class="form-control" value="@Model.Polyline.Name" />
        </div>
    </div>

    <div class="row padding-form">
        <div class="col-md-4">
            <label>Length polyline  :</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="form-polyline-input-length" maxlength="50" class="form-control" value="@Model.Polyline.CablineLength" readonly />
        </div>
    </div>

    <div class="row padding-form">
        <div class="col-md-12">
            <table class="table" id="form-polyline-table-data-latlngs">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lat</th>
                        <th scope="col">Long</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in @Model.Polyline.LatLongs)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.lat</td>
                            <td>@item.lng</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>

</form>